@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
@import "./reset";
@import "./vars";

body {
  font-family: "Outfit", sans-serif;
}

.section {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  gap: 1rem;

  background-color: $bg-section;
}

//uncomment this if there are more than one item
// @media (min-width: 48rem) {
//   .section {
//     grid-template-columns: repeat(2, auto);
//   }
// }

//uncomment this if there are more than one item
// @media (min-width: 60rem) {
//   .section {
//     grid-template-columns: repeat(3, auto);
//   }
// }

@import "./card";
